
    border: 1px solid var(--color-golden);
    background: var(--color-black);
}

.app__newsletter-heading {


.app__newsletter-input input {
    width: 620px;
    border: 1px solid var(--color-golden);
    border-radius: 5px;
    font-size: 1rem;

}